attrs~=21.2.0
blis~=0.7.4
boto3~=1.20.5
botocore~=1.23.5
catalogue~=2.0.6
certifi~=2021.5.30
cffi~=1.15.0
chardet~=4.0.0
configparser~=5.1.0
cymem~=2.0.5
decord~=0.6
fastcluster~=1.2.6
ffmpeg-python~=0.2
ftfy~=6.0.3
future~=0.18.2
gensim~=4.1.2
git+https://github.com/openai/CLIP.git
idna~=3.2
ipython~=7.29.0
ipywidgets~=7.6.5
jinja2~=3.0.2
jmespath~=0.10.0
joblib~=1.1
jsonschema~=4.2.1
keras~=2.7.0
markdown~=3.3.4
matplotlib~=3.4.3
murmurhash~=1.0.5
notebook~=6.4.5
numpy==1.21.2
opencv-python~=4.5.4.60
overrides~=6.1.0
pandas~=1.3.4
pexpect~=4.8.0
pillow~=9.0
preshed~=3.0.5
pygments~=2.10.0
pyparsing~=2.4.7
python-dateutil~=2.8.2
pytz~=2021.3
pyvis~=0.1.9
requests~=2.26.0
rich
s3transfer~=0.5.0
scikit-learn~=1.0.1
scikit-network~=0.24.0
seaborn~=0.11.2
setuptools~=49.2.1
simpletransformers~=0.63.3
six~=1.16.0
spacy==3.2.1
srsly~=2.4.1
stellargraph~=1.2.1
tensorflow~=2.7.0
thinc~=8.0.13
toml~=0.10.2
torch~=1.10.0
torchvision~=0.11
tqdm==4.62.3
urllib3~=1.26.7
wasabi~=0.8.2
wcwidth~=0.2.5
wheel~=0.37.0
youtube-dl~=2021.12.17
yt-dlp~=2022.4.8
pyinflect~=0.5.1